<section class="sales">
    <div class="container sales__container">
        <h4 class="title sales__title">
            <span>ТОП</span> продаж
        </h4>

        <div class="sales__list">
            <div class="product__card">
                <a href="#?" class="product__card-image">
                    <img src="@img/products/pricep-rihlitel.png" class="lazyload" alt='Прицепной рыхлитель почвы'>
                </a>
                <strong class="product__card-name">
                    Прицепной рыхлитель почвы
                </strong>
                <a href="#?" class="btn product__card-btn">
                    Подробнее
                </a>
            </div>
            <div class="product__card">
                <a href="#?" class="product__card-image">
                    <img src="@img/products/naves-rihlitel.png" class="lazyload" alt='Рыхлитель почвы навесной'>
                </a>
                <strong class="product__card-name">
                    Рыхлитель почвы навесной
                </strong>
                <a href="#?" class="btn product__card-btn">
                    Подробнее
                </a>
            </div>
            <div class="product__card">
                <a href="#?" class="product__card-image">
                    <img src="@img/products/stepnyak-udobr.png" class="lazyload" alt='Культиватор "Степняк" с внесением удобрений'>
                </a>
                <strong class="product__card-name">
                    Культиватор "Степняк" с внесением удобрений
                </strong>
                <a href="#?" class="btn product__card-btn">
                    Подробнее
                </a>
            </div>
            <div class="product__card">
                <a href="#?" class="product__card-image">
                    <img src="@img/products/stepnyak.png" class="lazyload" alt='Культиватор "Степняк"'>
                </a>
                <strong class="product__card-name">
                    Культиватор "Степняк"
                </strong>
                <a href="#?" class="btn product__card-btn">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /.sales -->