<section class="banner">
    <div class="container banner__container">
        <h1 class="banner__title">
            Поставка сельхозтехники <small>от производителя по России</small>
        </h1>
        <p class="banner__text">с гарантией до 24 месяцев в наличии и под заказ</p>

        <a href="#?" class="btn banner__btn">Перейти в каталог</a>


        <div class="banner__privilegies">
            <ul class="banner__privilegies-list">
                <li class="banner__privilegies-item">
                    <span class="banner__privilegies-icon">
                        <img src="@img/icons/privilegies_icon-1.svg" alt="">
                    </span>
                    <div class="banner__privilegies-text">
                        <strong class="banner__privilegies-name">Настроим и запустим</strong>
                        <p class="banner__privilegies-memo">за 1 день</p>
                    </div>
                </li>
                <li class="banner__privilegies-item">
                    <span class="banner__privilegies-icon">
                        <img src="@img/icons/privilegies_icon-2.svg" alt="">
                    </span>
                    <div class="banner__privilegies-text">
                        <strong class="banner__privilegies-name">Поддержка клиентов</strong>
                        <p class="banner__privilegies-memo">24/7</p>
                    </div>
                </li>
                <li class="banner__privilegies-item">
                    <span class="banner__privilegies-icon">
                        <img src="@img/icons/privilegies_icon-3.svg" alt="">
                    </span>
                    <div class="banner__privilegies-text">
                        <strong class="banner__privilegies-name">Обеспечим запчастями</strong>
                        <p class="banner__privilegies-memo">более 200 позиций запчастей</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- /.banner -->