<section class="about">
    <div class="container about__container">
        <h4 class="title about__title">
            <span>О нашей</span> компании
        </h4>

        <div class="about__info">
            <div class="about__info-logo">
                <img src="@img/logo.png" alt="Logo company">
            </div>
            <div class="about__info-text">
                <strong>АгроРесурс - поставщик сельскохозяйственного оборудования и техники по России и СНГ с 2012 года.</strong>
                <p>Фермерам и агрокомпаниям России и СНГ мы поставляем более 700 наименований сельхозоборудования и техники с 2012 года. Для Вас доступен большой ассортимент качественных современных товаров и сопутствующих услуг для развития сельского хозяйства. На все товарные позиции Вы получите гарантию и профессиональную техническую поддержку.</p>
            </div>
        </div>

        <a href="#?" class="btn about__btn">Подробнее</a>
    </div>
</section>
<!-- /.about -->