<div class="modal --is_fade callback__modal" id="callback__modal" tabindex="-1" aria-hidden="true">
    <div class="modal__dialog callback__modal-dialog">
        <div class="modal__content">
            <div class="modal__header">
                <strong class="modal__title">Обратная <span>связь</span></strong>
                <p class="modal__text">Оставьте свои данные и мы перезвоним вам</p>
                <a href="javascript:void(0);" class="modal__close" data-modal-close="data-modal-close">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        preserveaspectratio="xMidYMid meet"
                        viewbox="0 0 36 36">
                        <path
                            fill="currentColor"
                            d="m19.41 18l8.29-8.29a1 1 0 0 0-1.41-1.41L18 16.59l-8.29-8.3a1 1 0 0 0-1.42 1.42l8.3 8.29l-8.3 8.29A1 1 0 1 0 9.7
                                27.7l8.3-8.29l8.29 8.29a1 1 0 0 0 1.41-1.41Z"
                            class="clr-i-outline clr-i-outline-path-1"/><path fill="none" d="M0 0h36v36H0z"/>
                    </svg>
                </a>
            </div>
            <div class="modal__body">
                <form action="#?" class="form modal__form">
                    <div class="form__fields modal__form-fields">
                        <div class="form__field modal__form-field">
                            <input type="text" class="form__input modal__form-input" placeholder="Имя">
                        </div>
                        <div class="form__field modal__form-field">
                            <input type="text" data-maskphone class="form__input modal__form-input" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="form__field modal__form-field">
                            <button class="btn btn--alt form__btn modal__form-btn" type="submit">Отправить</button>
                        </div>
                        <div class="form__field modal__form-field">
                            <label class="form__checkbox">
                                <input class="form__checkbox-input" type="checkbox" name="policy" checked>
                                <span class="form__checkbox-box"></span>
                                <p class="form__checkbox-text">Согласие на обработку
                                    <a href="#?">персональных данных</a>
                                </p>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal --is_fade order__modal" id="order__modal" tabindex="-1" aria-hidden="true">
    <div class="modal__dialog order__modal-dialog">
        <div class="modal__content">
            <div class="modal__header">
                <strong class="modal__title">Сделать <span>заказ</span></strong>
                <p class="modal__text">Оставьте свои данные и мы перезвоним вам</p>
                <a href="javascript:void(0);" class="modal__close" data-modal-close="data-modal-close">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        preserveaspectratio="xMidYMid meet"
                        viewbox="0 0 36 36">
                        <path
                            fill="currentColor"
                            d="m19.41 18l8.29-8.29a1 1 0 0 0-1.41-1.41L18 16.59l-8.29-8.3a1 1 0 0 0-1.42 1.42l8.3 8.29l-8.3 8.29A1 1 0 1 0 9.7
                                27.7l8.3-8.29l8.29 8.29a1 1 0 0 0 1.41-1.41Z"
                            class="clr-i-outline clr-i-outline-path-1"/><path fill="none" d="M0 0h36v36H0z"/>
                    </svg>
                </a>
            </div>
            <div class="modal__body">
                <form action="#?" class="form modal__form">
                    <div class="form__fields modal__form-fields">
                        <div class="form__field modal__form-field">
                            <input type="text" class="form__input modal__form-input" placeholder="Имя">
                        </div>
                        <div class="form__field modal__form-field">
                            <input type="text" data-maskphone class="form__input modal__form-input" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="form__field modal__form-field">
                            <button class="btn btn--alt form__btn modal__form-btn" type="submit">Отправить</button>
                        </div>
                        <div class="form__field modal__form-field">
                            <label class="form__checkbox">
                                <input class="form__checkbox-input" type="checkbox" name="policy" checked>
                                <span class="form__checkbox-box"></span>
                                <p class="form__checkbox-text">Согласие на обработку
                                    <a href="#?">персональных данных</a>
                                </p>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal --is_fade price__modal" id="price__modal" tabindex="-1" aria-hidden="true">
    <div class="modal__dialog price__modal-dialog">
        <div class="modal__content">
            <div class="modal__header">
                <strong class="modal__title">Получить <span>прайс</span> продукции</strong>
                <p class="modal__text">Оставьте свои данные и мы отправим вам прайс</p>
                <a href="javascript:void(0);" class="modal__close" data-modal-close="data-modal-close">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        preserveaspectratio="xMidYMid meet"
                        viewbox="0 0 36 36">
                        <path
                            fill="currentColor"
                            d="m19.41 18l8.29-8.29a1 1 0 0 0-1.41-1.41L18 16.59l-8.29-8.3a1 1 0 0 0-1.42 1.42l8.3 8.29l-8.3 8.29A1 1 0 1 0 9.7
                                27.7l8.3-8.29l8.29 8.29a1 1 0 0 0 1.41-1.41Z"
                            class="clr-i-outline clr-i-outline-path-1"/><path fill="none" d="M0 0h36v36H0z"/>
                    </svg>
                </a>
            </div>
            <div class="modal__body">
                <form action="#?" class="form modal__form">
                    <div class="form__fields modal__form-fields">
                        <div class="form__field modal__form-field">
                            <input type="text" class="form__input modal__form-input" placeholder="Имя">
                        </div>
                        <div class="form__field modal__form-field">
                            <input type="text" data-maskphone class="form__input modal__form-input" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="form__field modal__form-field">
                            <input type="email" class="form__input modal__form-input" placeholder="E-mail">
                        </div>
                        <div class="form__field modal__form-field">
                            <button class="btn btn--alt form__btn modal__form-btn" type="submit">Отправить</button>
                        </div>
                        <div class="form__field modal__form-field">
                            <label class="form__checkbox">
                                <input class="form__checkbox-input" type="checkbox" name="policy" checked>
                                <span class="form__checkbox-box"></span>
                                <p class="form__checkbox-text">Согласие на обработку
                                    <a href="#?">персональных данных</a>
                                </p>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>