{% extends "layouts/components/UI/splide.html" %}
{% set splideOptions = {
    class: "product__info-slider-main",
    id: "product__info-slider-main",
    items: [
        {
            image: "@img/products/lushilniki.png"
        },
        {
            image: "@img/products/borona.png"
        },
        {
            image: "@img/products/izmelchitel.png"
        }
    ]
}%}
{% block slides %}
    {% for product in splideOptions.items %}
        <div class="splide__slide">
            <a href="{{product.image}}" class="glightbox">
                <img data-splide-lazy="{{product.image}}">
            </a>
        </div>
    {% endfor %}
{% endblock %}