<section class="product">
    <div class="container product__container">
        <h2 class="title product__title">
            <span>Наша</span> продукция
        </h2>

        <div class="product__categories">
            <a href="/page_product.html" class="product__category" style="--image: url('/img/products/izmelchitel.png');">
                <span class="product__category-text">
                    Измельчители соломы
                </span>
            </a>
            <a href="/page_product.html" class="product__category" style="--image: url('/img/products/traktora.png');">
                <span class="product__category-text">
                    Трактора
                </span>
            </a>
            <a href="/page_product.html" class="product__category" style="--image: url('/img/products/rihlitel.png');">
                <span class="product__category-text">
                    Рыхлители
                </span>
            </a>
            <a href="/page_product.html" class="product__category" style="--image: url('/img/products/lushilniki.png');">
                <span class="product__category-text">
                    Лущильники
                </span>
            </a>
            <a href="/page_product.html" class="product__category" style="--image: url('/img/products/borona.png');">
                <span class="product__category-text">
                    Борона
                </span>
            </a>
            <a href="/page_product.html" class="product__category" style="--image: url('/img/products/kultivator.png');">
                <span class="product__category-text">
                    Культиватор степняк
                </span>
            </a>
            <a href="/page_product.html" class="product__category" style="--image: url('/img/products/podborshiki.png');">
                <span class="product__category-text">
                    Прес подборщики
                </span>
            </a>
        </div>
    </div>
</section>
<!-- /.product -->