<section class="why-us">
    <div class="container why-us__container">
        <h3 class="title why-us__title">
            Почему <span>мы</span>
        </h3>

        <ul class="why-us__list">
            <li class="why-us__item">
                <span class="why-us__item-icon">
                    <img src="@img/icons/why-us_icon-1.png" alt="">
                </span>

                <strong class="why-us__item-name">Высокое качество</strong>
                <div class="why-us__item-text">
                    Отдел технического контроля строго следит за качеством, то подтверждают сотни довольных покупателей по всей РФ.
                </div>
            </li>
            <li class="why-us__item">
                <span class="why-us__item-icon">
                    <img src="@img/icons/why-us_icon-2.png" alt="">
                </span>

                <strong class="why-us__item-name">Низкая цена</strong>
                <div class="why-us__item-text">
                    Благодаря местонахождению производства в России современному оборудованию цена на нашу продукцию намного доступнее импортных аналогов.
                </div>
            </li>
            <li class="why-us__item">
                <span class="why-us__item-icon">
                    <img src="@img/icons/why-us_icon-3.png" alt="">
                </span>

                <strong class="why-us__item-name">Сервисное обслуживание</strong>
                <div class="why-us__item-text">
                    Наш сервисный центр оснащен высокотехнологичным оборудованием, проводятся все виды слесарных и плановых работ.
                </div>
            </li>
            <li class="why-us__item">
                <span class="why-us__item-icon">
                    <img src="@img/icons/why-us_icon-4.png" alt="">
                </span>

                <strong class="why-us__item-name">Быстрая доставка</strong>
                <div class="why-us__item-text">
                    Минимальные сроки доставки сохраняются благодаря отсутствию лишних посредников, таможни и излишней бюрократии.
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- /.why-us -->