<footer class="footer">
    <div class="footer__callback">
        <div class="container footer__callback-container">
            <h5 class="title footer__callback-title">
                Остались
                <span>вопросы?</span>
            </h5>
            <p class="footer__callback-text">Оставьте свои данные и мы перезвоним вам</p>
            <form action="#?" class="form footer__callback-form">
                <div class="form__fields footer__callback-fields">
                    <div class="form__field footer__callback-field">
                        <input type="text" class="form__input footer__callback-input" placeholder="Имя">
                    </div>
                    <div class="form__field footer__callback-field">
                        <input type="text" data-maskphone class="form__input footer__callback-input" placeholder="+7 (___) ___-__-__">
                    </div>
                    <div class="form__field footer__callback-field">
                        <button class="btn form__btn footer__callback-btn" type="submit">Отправить</button>
                    </div>
                    <div class="form__field footer__callback-field">
                        <label class="form__checkbox">
                            <input class="form__checkbox-input" type="checkbox" name="policy" checked>
                            <span class="form__checkbox-box"></span>
                            <p class="form__checkbox-text">Согласие на обработку
                                <a href="#?">персональных данных</a>
                            </p>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer__content">
        <div class="container footer__content-container">
            <div class="footer__content-col">
                <a href="/" class="logotype footer__logotype">
                    <picture class="logotype__picture">
                        <source srcset="@img/logo_white.png" type="image/png">
                        <img src="@img/logo_white.png" alt="Logotype AgroResurs">
                    </picture>
                </a>
                <div class="footer__content-col-text">
                    ИНН 5609066293<br> ОГРН 1085658003771
                </div>
            </div>
            <div class="footer__content-col">
                <div class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link footer__nav-link--title">Каталог техники</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">О нас</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Отзывы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Видео</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Оплата</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Контакты</a>
                        </li>
                    </ul>
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Измельчители соломы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Трактора</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Рыхлители</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Лущильники</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Борона</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Культиватор степняк</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#?" class="footer__nav-link">Прес подборщики</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__content-col">
                <p class="custom__link footer__content-link">
                    <span class="custom__link-icon">
                        <svg width="1em" height="1em" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.5291 1.75C14.6297 1.76611 17.9535 5.11172 17.9374 9.20703V9.28837C17.8821 12.215 16.1226 14.6436 14.6566
                                    16.1653C14.2394 16.6004 13.7953 17.0178 13.3374 17.4076C13.0631 17.6417 12.6513 17.6094 12.4169 17.3355C12.1826 17.0608
                                    12.2156 16.6495 12.4899 16.4154C12.914 16.054 13.3266 15.6657 13.7146 15.2614C15.0193 13.9078 16.5836 11.7676 16.6312
                                    9.26458C16.6443 5.82612 13.9052 3.06753 10.5238 3.05371H10.4999C7.13004 3.05371 4.38172 5.78545 4.36866 9.15332C4.42629
                                    10.8169 4.98871 12.3984 5.99599 13.7251C7.17153 15.2905 8.95483 16.948 10.6498 18.0514C10.9525 18.2479 11.0378 18.6515
                                    10.8403 18.9538C10.7158 19.1456 10.5061 19.25 10.2925 19.25C10.1703 19.25 10.0474 19.2162 9.93676 19.1441C8.12196 17.9632
                                    6.21189 16.1875 4.95259 14.5109C3.78396 12.9708 3.13011 11.1331 3.0625 9.19859C3.07863 5.06262 6.41242 1.75 10.4999
                                    1.75H10.5291ZM10.4976 6.46048C12.0581 6.46048 13.3282 7.72813 13.3282 9.28737C13.3282 10.8458 12.0581 12.1135 10.4976
                                    12.1135C8.93716 12.1135 7.66711 10.8458 7.66711 9.28737C7.66711 8.92672 7.95984 8.63513 8.32019 8.63513C8.68053 8.63513
                                    8.97327 8.92672 8.97327 9.28737C8.97327 10.1261 9.65708 10.8098 10.4976 10.8098C11.3382 10.8098 12.022 10.1261 12.022
                                    9.28737C12.022 8.4479 11.3382 7.7642 10.4976 7.7642C10.1373 7.7642 9.84456 7.47261 9.84456 7.11272C9.84456 6.75207
                                    10.1373 6.46048 10.4976 6.46048Z"
                                fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="custom__link-text">
                        г. Оренбург, ул. Путепроводная, д. 2/1, этаж 3
                    </span>
                </p>
                <p class="custom__link footer__content-link">
                    <span class="custom__link-icon">
                        <svg width="1em" height="1em" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421
                                    4.85786 16.5 9 16.5Z"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"/>
                            <path d="M9 4.5V9L12 7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    <span class="custom__link-text">
                        ПН-ПТ: 9:00 до 17:00; перерыв: 12:00-13:00; СБ-ВС: выходной
                    </span>
                </p>
                <a href="tel:+70000000000" class="custom__link footer__content-link">
                    <span class="custom__link-icon">
                        <svg width="1em" height="1em" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.768 9.26174C4.06726 9.05885 4.47589 9.13231 4.68065 9.43053C6.95133 12.7267 11.0989 16.4374 13.738 17.5341C14.8055
                                    18.03 15.6001 18.0606 16.1916 17.6365C16.6527 17.3575 17.9626 16.0561 17.939 15.3792C17.9311 15.2996 17.8401 15.1501
                                    17.6852 14.9918C17.1812 14.4758 15.4898 13.1964 15.1363 13.0634C14.8572 13.004 14.5667 13.1736 14.1239 13.4526L13.8999
                                    13.5917C13.5893 13.7779 13.1859 13.6791 12.9986 13.3678C12.8122 13.0582 12.912 12.655 13.2226 12.4679L13.4247
                                    12.3428C13.9148 12.0341 14.5912 11.6125 15.4417 11.7892C16.1119 11.9283 18.2199 13.6616 18.6233 14.0735C19.003 14.4618
                                    19.213 14.8755 19.2489 15.3014C19.3058 16.9132 17.1471 18.5976 16.8995 18.7393C16.4287 19.0786 15.8766 19.25 15.2553
                                    19.25C14.6375 19.25 13.9515 19.0803 13.2086 18.734C10.3517 17.5481 6.03081 13.7027 3.6 10.1739C3.39437 9.87568 3.46962
                                    9.46726 3.768 9.26174ZM5.51484 1.75086L5.66951 1.75328C6.12102 1.79089 6.53403 2.00078 6.92167 2.37859C7.33468 2.78175
                                    9.06897 4.89117 9.2081 5.55846C9.35773 6.27646 9.03485 6.83705 8.79947 7.24634C8.56759 7.64951 8.48708 7.8218 8.56671
                                    8.03956C9.1521 9.4712 10.0569 10.6414 11.2478 11.4914C11.5427 11.7031 11.61 12.1123 11.3992 12.4071C11.2714 12.5855
                                    11.0702 12.6817 10.8654 12.6817C10.7324 12.6817 10.5994 12.6414 10.4839 12.5592C9.0891 11.5614 8.03207 10.1997 7.34168
                                    8.51094C7.03805 7.67575 7.39856 7.04957 7.66194 6.59218C7.85969 6.24935 7.96907 6.04471 7.92269 5.82607C7.80019 5.51036
                                    6.52091 3.8216 6.00465 3.31873C5.84539 3.16218 5.69576 3.07036 5.58464 3.06161C4.95812 3.04674 3.67709 4.28511 3.38658
                                    4.76699C2.93594 5.38617 2.96744 6.17939 3.45133 7.24197C3.60096 7.57167 3.45571 7.95997 3.12582 8.1104C2.79506 8.25995
                                    2.40743 8.11564 2.25693 7.78506C1.56828 6.27471 1.58141 5.01361 2.29543 4.04023C2.56143 3.59509 4.2336 1.6597 5.66951
                                    1.75328L5.51484 1.75086Z"
                                fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="custom__link-text">+7 (000) 000-00-00</span>
                </a>
                <button class="btn btn--alt footer__content-col-btn">
                    Заказать звонок
                </button>
                {% import "layouts/components/UI/socials.html" as socials %}
                {{ socials.insert({mix: "footer__socials"}) }}
            </div>
        </div>
    </div>
</footer>
<!-- /.footer -->