<section class="price">
    <img src="@img/daun-daun_1.png" alt="" class="lazyload price__daun price__daun-top">
    <img src="@img/daun-daun_2.png" alt="" class="lazyload price__daun price__daun-bottom">
    <div class="container price__container">
        <h4 class="title price__title">
            Получить
            <span>прайс</span>
            продукции
        </h4>
        <div class="price__in">
            <div class="price__image">
                <img src="@img/price_doc.png" alt="">
            </div>
            <form action="#?" class="form price__form">
                <div class="form__fields price__form-fields">
                    <div class="form__field price__form-field">
                        <input type="text" class="form__input price__form-input" placeholder="Имя">
                    </div>
                    <div class="form__field price__form-field">
                        <input type="text" data-maskphone class="form__input price__form-input" placeholder="+7 (___) ___-__-__">
                    </div>
                    <div class="form__field price__form-field">
                        <input type="email" class="form__input price__form-input" placeholder="E-mail">
                    </div>
                    <div class="form__field price__form-field">
                        <label class="form__checkbox">
                            <input class="form__checkbox-input" type="checkbox" name="policy" checked>
                            <span class="form__checkbox-box"></span>
                            <p class="form__checkbox-text">Согласие на обработку <a href="#?">персональных данных</a></p>
                        </label>
                    </div>
                    <div class="form__field price__form-field">
                        <button class="btn form__btn price__form-btn" type="submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /.price -->